
 .bg-main{
  background-color: #ee0c75;
}
li{
  list-style-type: none;
}
.list-group{
  margin: 0 0 0 auto;
}
.search{
  margin-left: 170px;
}
.footer {
  width: 100%;
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: pink;
  padding-top: 10px;
}
h1 {
  margin-left: 170px;
  padding: .25em 0 .25em .75em;
  border-left: 6px solid rgb(134, 132, 132);
}
.form-group{
  margin-top: 100px;
}
.button{
  padding: 30px ;
}

.box2 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #f30611;/*文字色*/
  background: rgb(12, 0, 0);
  border: solid 6px #f80707;/*線*/
  border-radius: 10px;/*角の丸み*/
  font-size: 30px;
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}
.box2 p {
  margin: 0; 
  padding: 0;
}